<section class="uned-poll">
  <section class="uned-poll-content">
    <article class="uned-poll-content-header">
      <img class="uned-poll-content-header-img" src="<%= asset_path 'uned-header-image.png' %>">
      <img class="uned-poll-content-header-logoimg" src="<%= asset_path 'logo-uned.png' %>">
    </article>
    <article class="uned-poll-content-medium">
      <h3 class="uned-poll-content-title">Consulta </h3>
      <h5 class="uned-poll-content-subtitle">Hacia un marco ético para el uso responsable de datos masivos</h5>
      <p class="uned-poll-content-text">La UNED, preocupada por las consecuencias éticas y sociales que puede tener el uso de tecnologías basadas en datos masivos en el contexto de los procesos de enseñanza/aprendizaje, propone un marco ético y lo somete a deliberación a toda la comunidad universitaria.</p>
      <div class="uned-poll-content-table">
        <div class="uned-poll-content-table-row">
          <div class="uned-poll-content-table-row-left">
            <span class="uned-poll-content-table-row-left-text">¿Para qué hacemos esta consulta?</span>
          </div>
          <div class="uned-poll-content-table-row-right">
            <span class="uned-poll-content-table-row-left-text">Esta consulta tiene lugar porque <strong>la UNED quiere avanzar hacia modelos de aprendizaje personalizado</strong>, en los que cada persona sea reconocida según sus características y reciba sugerencias y apoyo adaptados a su trayectoria y sus necesidades.
              Esta personalización puede hacerse a través del uso de <strong>tecnologías basadas en datos</strong>, y, para permitir su uso en <strong>condiciones de seguridad y tranquilidad</strong>, es necesario dotarnos de un <strong>marco ético</strong>.</span>
          </div>
        </div>
        <div class="uned-poll-content-table-row">
          <div class="uned-poll-content-table-row-left">
            <span class="uned-poll-content-table-row-left-text">Fechas</span>
          </div>
          <div class="uned-poll-content-table-row-right">
            <span class="uned-poll-content-table-row-left-text">Del 1 de Diciembre de 2019 al 15 de Enero de 2020.</span>
          </div>
        </div>
        <div class="uned-poll-content-table-row">
          <div class="uned-poll-content-table-row-left">
            <span class="uned-poll-content-table-row-left-text">Quién puede participar</span>
          </div>
          <div class="uned-poll-content-table-row-right">
            <span class="uned-poll-content-table-row-left-text">Toda la comunidad de la UNED: alumnos actuales, profesores y personal.</span>
          </div>
        </div>
        <div class="uned-poll-content-table-row uned-poll-content-table-row-last">
          <div class="uned-poll-content-table-row-left">
            <span class="uned-poll-content-table-row-left-text">Objetivo general</span>
          </div>
          <div class="uned-poll-content-table-row-right">
            <span class="uned-poll-content-table-row-left-text">Desarrollar un marco de intervenciones basadas en evidencias para mejorar los procesos de enseñanza/aprendizaje a través de la explotación inteligente y responsable de datos.</span>
          </div>
        </div>
      </div>
    </article>
    <p class="uned-poll-contet-arrow-left-text">Te invitamos a que repases los materiales que hemos preparado para dar contexto a esta consulta. </p>
    <p class="uned-poll-contet-arrow-right-text">Si prefieres lanzarte a participar, puedes hacerlo. </p>
    <img class="uned-poll-img-arrow" src="<%= asset_path 'arrow-left.svg' %>">
    <img class="uned-poll-img-arrow" src="<%= asset_path 'arrow-right.svg' %>">
    <article class="uned-poll-content-footer">
      <div class="uned-poll-content-buttons-top">
        <button id="uned-poll-button-top-1" class="uned-poll-buttons-top-slider is-active-btn">¿Qué son las TBDM?</button>
        <button id="uned-poll-button-top-2" class="uned-poll-buttons-top-slider">Casos previos</button>
        <button id="uned-poll-button-top-3" class="uned-poll-buttons-top-slider">Hacia un marco ético</button>
        <button id="uned-poll-button-top-4" class="uned-poll-buttons-top-slider">Cuestiones relevantes</button>
        <button id="uned-poll-button-top-5" class="uned-poll-buttons-top-slider">Participa</button>
      </div>
      <div class="uned-poll-slider-container-content">
        <div id="uned-poll-slider-content-text-1" class="uned-poll-slider-content is-active">
          <h1 class="uned-poll-slider-content-title">¿QUÉ SON Y PARA QUÉ PUEDEN SERVIR EN LA UNED LAS TECNOLOGÍAS BASADAS EN DATOS MASIVOS?</h1>
          <p class="uned-poll-slider-content-text">Nuestras comunicaciones, nuestro entretenimiento, nuestras relaciones comerciales y nuestros aprendizajes suceden en la Web. Así, las compañías hacen uso de nuestros datos para afectarnos: nos recomiendan una película o un libro, nos sirven anuncios persona lizados, nos ayudan a acordarnos de fechas importantes. Esta filosofía es de aplicación también en la enseñanza y el aprendizaje, y su fin es avanzar hacia escenarios de aprendizaje personalizado.</p>
          <p class="uned-poll-slider-content-text">Algunos ejemplos: es posible modelar de forma automática el conocimiento, el comportamiento o la experiencia del alumnado, es posible segmentarlo en perfiles que permitan adaptar los entornos de aprendizaje, es posible modelar los contenidos para extraer de forma automática las unidades de estudio o los conceptos clave, y su dificultad, así como es posible diseñar procesos de aprendizaje más efectivos a partir de los datos para responder a cuestiones como:</p>
          <p class="uned-poll-slider-content-text-list">¿qué elementos son más efectivos para promover el aprendizaje?</p>
          <p class="uned-poll-slider-content-text-list">¿un cambio concreto en los contenidos o las metodologías puede mejorar el desempeño y la retención?</p>
          <p class="uned-poll-slider-content-text-list">¿Qué tipo de metodologías son mejores en términos de la experiencia del alumnado?</p>
          <p class="uned-poll-slider-content-text">Todas estas aplicaciones están en desarrollo y pueden ser tenidas en cuenta para su aplicación en el ámbito de procesos de enseñanza/aprendizaje. Sin embargo, es importante señalar que, obviamente, los datos pueden ser usados también en otros ámbitos, y que en el futuro pueden surgir nuevas propuestas relacionadas con el uso de datos masivos.</p>
          <p class="uned-poll-slider-content-text">Por ese motivo, si bien está centrado en los procesos de enseñanza/aprendizaje, el marco ético del que la UNED quiere dotarse aspira a englobar cualquier otro uso de datos masivos que pueda ser concebido en el futuro, esté o no relacionado con dichos procesos.</p>
        </div>
        <div id="uned-poll-slider-content-text-2" class="uned-poll-slider-content is-disable">
          <h1>Soy el dos</h1>
          <p>Nuestras comunicaciones, nuestro entretenimiento, nuestras relaciones comerciales y nuestros aprendizajes suceden en la Web. Así, las compañías hacen uso de nuestros datos para afectarnos: nos recomiendan una película o un libro, nos sirven anuncios persona lizados, nos ayudan a acordarnos de fechas importantes. Esta filosofía es de aplicación también en la enseñanza y el aprendizaje, y su fin es avanzar hacia escenarios de aprendizaje personalizado.</p>
          <p>Algunos ejemplos: es posible modelar de forma automática el conocimiento, el comportamiento o la experiencia del alumnado, es posible segmentarlo en perfiles que permitan adaptar los entornos de aprendizaje, es posible modelar los contenidos para extraer de forma automática las unidades de estudio o los conceptos clave, y su dificultad, así como es posible diseñar procesos de aprendizaje más efectivos a partir de los datos para responder a cuestiones como:</p>
          <p>¿qué elementos son más efectivos para promover el aprendizaje?¿un cambio concreto en los contenidos o las metodologías puede mejorar el desempeño y la retención? ¿Qué tipo de metodologías son mejores en términos de la experiencia del alumnado?</p>
          <p>Todas estas aplicaciones están en desarrollo y pueden ser tenidas en cuenta para su aplicación en el ámbito de procesos de enseñanza/aprendizaje. Sin embargo, es importante señalar que, obviamente, los datos pueden ser usados también en otros ámbitos, y que en el futuro pueden surgir nuevas propuestas relacionadas con el uso de datos masivos.</p>
          <p>Por ese motivo, si bien está centrado en los procesos de enseñanza/aprendizaje, el marco ético del que la UNED quiere dotarse aspira a englobar cualquier otro uso de datos masivos que pueda ser concebido en el futuro, esté o no relacionado con dichos procesos.</p>
        </div>
        <div id="uned-poll-slider-content-text-3" class="uned-poll-slider-content is-disable">
          <h1>Soy el tres</h1>
          <p>Nuestras comunicaciones, nuestro entretenimiento, nuestras relaciones comerciales y nuestros aprendizajes suceden en la Web. Así, las compañías hacen uso de nuestros datos para afectarnos: nos recomiendan una película o un libro, nos sirven anuncios persona lizados, nos ayudan a acordarnos de fechas importantes. Esta filosofía es de aplicación también en la enseñanza y el aprendizaje, y su fin es avanzar hacia escenarios de aprendizaje personalizado.</p>
          <p>Algunos ejemplos: es posible modelar de forma automática el conocimiento, el comportamiento o la experiencia del alumnado, es posible segmentarlo en perfiles que permitan adaptar los entornos de aprendizaje, es posible modelar los contenidos para extraer de forma automática las unidades de estudio o los conceptos clave, y su dificultad, así como es posible diseñar procesos de aprendizaje más efectivos a partir de los datos para responder a cuestiones como:</p>
          <p>¿qué elementos son más efectivos para promover el aprendizaje?¿un cambio concreto en los contenidos o las metodologías puede mejorar el desempeño y la retención? ¿Qué tipo de metodologías son mejores en términos de la experiencia del alumnado?</p>
          <p>Todas estas aplicaciones están en desarrollo y pueden ser tenidas en cuenta para su aplicación en el ámbito de procesos de enseñanza/aprendizaje. Sin embargo, es importante señalar que, obviamente, los datos pueden ser usados también en otros ámbitos, y que en el futuro pueden surgir nuevas propuestas relacionadas con el uso de datos masivos.</p>
          <p>Por ese motivo, si bien está centrado en los procesos de enseñanza/aprendizaje, el marco ético del que la UNED quiere dotarse aspira a englobar cualquier otro uso de datos masivos que pueda ser concebido en el futuro, esté o no relacionado con dichos procesos.</p>
        </div>
        <div id="uned-poll-slider-content-text-4" class="uned-poll-slider-content is-disable">
          <h1>Soy el cuatro</h1>
          <p>Nuestras comunicaciones, nuestro entretenimiento, nuestras relaciones comerciales y nuestros aprendizajes suceden en la Web. Así, las compañías hacen uso de nuestros datos para afectarnos: nos recomiendan una película o un libro, nos sirven anuncios persona lizados, nos ayudan a acordarnos de fechas importantes. Esta filosofía es de aplicación también en la enseñanza y el aprendizaje, y su fin es avanzar hacia escenarios de aprendizaje personalizado.</p>
          <p>Algunos ejemplos: es posible modelar de forma automática el conocimiento, el comportamiento o la experiencia del alumnado, es posible segmentarlo en perfiles que permitan adaptar los entornos de aprendizaje, es posible modelar los contenidos para extraer de forma automática las unidades de estudio o los conceptos clave, y su dificultad, así como es posible diseñar procesos de aprendizaje más efectivos a partir de los datos para responder a cuestiones como:</p>
          <p>¿qué elementos son más efectivos para promover el aprendizaje?¿un cambio concreto en los contenidos o las metodologías puede mejorar el desempeño y la retención? ¿Qué tipo de metodologías son mejores en términos de la experiencia del alumnado?</p>
          <p>Todas estas aplicaciones están en desarrollo y pueden ser tenidas en cuenta para su aplicación en el ámbito de procesos de enseñanza/aprendizaje. Sin embargo, es importante señalar que, obviamente, los datos pueden ser usados también en otros ámbitos, y que en el futuro pueden surgir nuevas propuestas relacionadas con el uso de datos masivos.</p>
          <p>Por ese motivo, si bien está centrado en los procesos de enseñanza/aprendizaje, el marco ético del que la UNED quiere dotarse aspira a englobar cualquier otro uso de datos masivos que pueda ser concebido en el futuro, esté o no relacionado con dichos procesos.</p>
        </div>
        <div id="uned-poll-slider-content-text-5" class="uned-poll-slider-content is-disable">
          <h1>Soy el último</h1>
          <p>Nuestras comunicaciones, nuestro entretenimiento, nuestras relaciones comerciales y nuestros aprendizajes suceden en la Web. Así, las compañías hacen uso de nuestros datos para afectarnos: nos recomiendan una película o un libro, nos sirven anuncios persona lizados, nos ayudan a acordarnos de fechas importantes. Esta filosofía es de aplicación también en la enseñanza y el aprendizaje, y su fin es avanzar hacia escenarios de aprendizaje personalizado.</p>
          <p>Algunos ejemplos: es posible modelar de forma automática el conocimiento, el comportamiento o la experiencia del alumnado, es posible segmentarlo en perfiles que permitan adaptar los entornos de aprendizaje, es posible modelar los contenidos para extraer de forma automática las unidades de estudio o los conceptos clave, y su dificultad, así como es posible diseñar procesos de aprendizaje más efectivos a partir de los datos para responder a cuestiones como:</p>
          <p>¿qué elementos son más efectivos para promover el aprendizaje?¿un cambio concreto en los contenidos o las metodologías puede mejorar el desempeño y la retención? ¿Qué tipo de metodologías son mejores en términos de la experiencia del alumnado?</p>
          <p>Todas estas aplicaciones están en desarrollo y pueden ser tenidas en cuenta para su aplicación en el ámbito de procesos de enseñanza/aprendizaje. Sin embargo, es importante señalar que, obviamente, los datos pueden ser usados también en otros ámbitos, y que en el futuro pueden surgir nuevas propuestas relacionadas con el uso de datos masivos.</p>
          <p>Por ese motivo, si bien está centrado en los procesos de enseñanza/aprendizaje, el marco ético del que la UNED quiere dotarse aspira a englobar cualquier otro uso de datos masivos que pueda ser concebido en el futuro, esté o no relacionado con dichos procesos.</p>
        </div>
        <div class="uned-poll-buttons-bottom">
          <button class="uned-poll-button-container" id="uned-poll-buttons-bottom-slider-1">
            <img src="<%= asset_path 'arrow-left-bottom.svg' %>" alt="" class="uned-poll-buttons-bottom-arrow uned-poll-buttons-bottom-arrow-left">
            <span class="uned-poll-buttons-bottom-text-top uned-poll-buttons-bottom-text-top-prev">ANTERIOR</span>
            <span class="uned-poll-buttons-bottom-text-bottom">¿Qué son las TBDM?</span>
          </button>
          <button class="uned-poll-button-container" id="uned-poll-buttons-bottom-slider-2">
            <span class="uned-poll-buttons-bottom-text-top uned-poll-buttons-bottom-text-top-next">SIGUIENTE</span>
            <span class="uned-poll-buttons-bottom-text-top uned-poll-buttons-bottom-text-top-prev">ANTERIOR</span>
            <img src="<%= asset_path 'arrow-left-bottom.svg' %>" alt="" class="uned-poll-buttons-bottom-arrow uned-poll-buttons-bottom-arrow-left">
            <img src="<%= asset_path 'arrow-right-bottom.svg' %>" alt="" class="uned-poll-buttons-bottom-arrow uned-poll-buttons-bottom-arrow-right">
            <span class="uned-poll-buttons-bottom-text-bottom">CASOS PREVIOS</span>
          </button>
          <button class="uned-poll-button-container is-disable" id="uned-poll-buttons-bottom-slider-3">
            <span class="uned-poll-buttons-bottom-text-top uned-poll-buttons-bottom-text-top-next">SIGUIENTE</span>
            <span class="uned-poll-buttons-bottom-text-top uned-poll-buttons-bottom-text-top-prev">ANTERIOR</span>
            <img src="<%= asset_path 'arrow-left-bottom.svg' %>" alt="" class="uned-poll-buttons-bottom-arrow uned-poll-buttons-bottom-arrow-left">
            <img src="<%= asset_path 'arrow-right-bottom.svg' %>" alt="" class="uned-poll-buttons-bottom-arrow uned-poll-buttons-bottom-arrow-right">
            <span class="uned-poll-buttons-bottom-text-bottom">HACIA UN MARCO ÉTICO</span>
          </button>
          <button class="uned-poll-button-container is-disable" id="uned-poll-buttons-bottom-slider-4">
            <span class="uned-poll-buttons-bottom-text-top uned-poll-buttons-bottom-text-top-next">SIGUIENTE</span>
            <span class="uned-poll-buttons-bottom-text-top uned-poll-buttons-bottom-text-top-prev">ANTERIOR</span>
            <img src="<%= asset_path 'arrow-left-bottom.svg' %>" alt="" class="uned-poll-buttons-bottom-arrow uned-poll-buttons-bottom-arrow-left">
            <img src="<%= asset_path 'arrow-right-bottom.svg' %>" alt="" class="uned-poll-buttons-bottom-arrow uned-poll-buttons-bottom-arrow-right">
            <span class="uned-poll-buttons-bottom-text-bottom">CUESTIONES RELEVANTES</span>
          </button>
          <button class="uned-poll-button-container is-disable" id="uned-poll-buttons-bottom-slider-5">
            <span class="uned-poll-buttons-bottom-text-top uned-poll-buttons-bottom-text-top-next">SIGUIENTE</span>
            <img src="<%= asset_path 'arrow-right-bottom.svg' %>" alt="" class="uned-poll-buttons-bottom-arrow uned-poll-buttons-bottom-arrow-right">
            <span class="uned-poll-buttons-bottom-text-bottom">PARTICIPA</span>
          </button>
        </div>
      </div>
    </article>
  </section>
</section>
